.search-bar {
    width: 10vw;
    aspect-ratio: 6;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s; /* Apply transition to width property */
    font-size: large;
    color: white;
  }
  
  .search-bar-container.selected .search-bar {
    width: 10vw; /* New width when selected */
  }

.search-bar-container{
    cursor: pointer;
}